.general {
  padding: 0;
  margin: 0;
  font-family: "PT Serif", serif;
}

/* .general.container .row .navbar .collapse .header .nav-item {
  margin: 0 0 1px 0;
  background-color: rgb(34, 101, 169);
  padding: 10px 43px 10px 43px;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  cursor: default;
  width: auto;
  text-align: center;

}
.general.container .row .navbar .collapse .header .nav-item:hover{
  color: lightgrey;
} */

.general.container .row .navbar .collapse .header {
  width: 100%;
}

.nav-item:hover {
  color:lightslategray;
}

nav ul li {
  margin: 0 2px 1px 2px;
  background-color: rgb(34, 101, 169);
  padding: 10px 27px 10px 27px;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  cursor: default;
  width: 50%;
  text-align: center;
}

.general.container .row .navbar .logo {
  width:100%;
  display: flex;
  align-items: center;
}

.general.container .row .navbar .logo-menu {
width: 100%;
}
 
.general.container .row .navbar .logo-afther-divider {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.general.container .row .navbar .vr {
  margin-right: 15px;
  height: 50px;
}

.general.container .row .navbar .contact {
  width: 100%;
  display:flex;
  align-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  cursor: pointer;
}

.general.container .container .main {
  background-color: rgb(189, 217, 254);
  height: 380px;
  width: 100%;
  z-index: -1;
}

.general.container .container .main-color {
  background-color: blue;
}

.general.container .container .main .row .card-now {
  margin: 25px 0 0 45px;
  background-color: rgb(34, 101, 169);
  z-index: 1;
  padding: 10px;
  color: white;
}

.general.container .container .main .row .card-now .hr {
  border: none;
  border: 1px dashed white;
  color: white;
  background-color: rgb(34, 101, 169);
  height: 1px;
  width: 100%;
}

.general.container .container .main .div-button {
  width: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 100px 20px 0 33px;
  white-space: nowrap;
}

.general.container .container .main .div-button .button {
  list-style: none;
  background-color: rgb(34, 101, 169);
  color: white;
  width: auto;
  font-size: 55px;
  text-transform: capitalize;
  padding: 0 15px 0 15px;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.general.container .container .article {
  margin-top: 35px;
  width: auto;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.general.container .container .article .row .card {
  margin-bottom: 20px;
  padding: 20px;
}

.general.container .container .article .row .card .card-img-top {
  padding: 2px;
  border: 1px solid black;
}

.general.container .container .article .row .card .hr-a {
  border: none;
  border: 1px dashed white;
  color: white;
  background-color: black;
  height: 1px;
  width: 100%;
}

.general.container .container .article .row .card .link {
  text-decoration: none;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}

.general.container .container .hr-main {
  border: none;
  --bs-bg-opacity: 1;
  border: 2px dashed rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
  color: lightslategrey;
  background-color: white;
  height: 3px;
  width: 100%;
}

.general.container .container .row .card .row .img-fluid {
  padding: 2px;
  border: 1px solid black;
  width: 220px;
  height: 160px;
}

.general.container .container .row .card .row .card-body .link {
text-decoration: none;
}

.general.container .container .link-menu {
  background-color:lightgrey;
  height: 90%;
  margin:0 0 10px 0;
}

.general.container .container .link-menu .link-li {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px solid grey;
  display: flex;
  padding: 2px;
}

.general.container .container .link-menu .hr-link {
  border: none;
  border: 1px dashed black;
  color: black;
  background-color: lightgrey;
  height: 1px;
  width: 100%;
}

.general.container .container-picture {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.general.container .container-picture .row .picture {
  margin: 15px 30px 15px 30px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.general.container .container-picture .row .picture .img-thumbnail-new {
  padding: 2px;
  border: 1px solid black;
}

.general.container .footer {
  background-color: rgb(34, 101, 169);
  color: white;
  text-transform: capitalize;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}


